<h1>Dashboard</h1>
<div class="row">
  <div class="col">
    <h2><%= I18n.t('warning') %></h2>
    <ul>
      <% @club.members.with_warnings.each do |m| %>
        <li>
          <%= link_to m.full_name, edit_club_member_path(@club, m) %>: <br>
          <% if m.membership_status == 'warning' %>
            la associazione sta per scadere
            <br>
          <% end %>
          <% if m.medical_status == 'warning' %>
            il certificato medico sta per scadere
            <br>
          <% end %>
          <% if m.payments_status == 'warning' %>
            problemi nei pagamenti
            <br>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col">
    <h2><%= I18n.t('problems') %></h2>
    <ul>
      <% @club.members.with_errors.each do |m| %>
        <li>
          <%= link_to m.full_name, edit_club_member_path(@club, m) %>: <br>
          <% if m.membership_status == 'error' %>
            la associazione è scaduta
            <br>
          <% end %>
          <% if m.medical_status == 'error' %>
            il certificato medico è scaduto
            <br>
          <% end %>
          <% if m.payments_status == 'error' %>
            problemi nei pagamenti
            <br>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>