<h1>Dashboard</h1>
<div class="row">
  <div class="col-6">
    <h2 class="text-center">Warnings</h2>
    <ul>
      <% @club.members.with_warnings.each do |m| %>
        <li><%= m.first_name %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-6">
    <h2 class="text-center">Errors</h2>
    <ul>
      <% @club.members.with_errors.each do |m| %>
        <li><%= m.first_name %></li>
      <% end %>
    </ul>
  </div>
</div>