<%= calendar(number_of_days: 1, events: @events, partial: '/simple_calendar/agenda') do |date, events| %>
  AGENDA
  <% events.each do |event| %>
    <div>
      <%= event.kind %>
    </div>
  <% end %>
<% end %>
