<%= calendar(number_of_days: 1, events: @events) do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
      <%= link_to Event.human_attribute_name("kind.#{event.kind}"), edit_club_event_path(@club, event) %>
    </div>
  <% end %>
<% end %>
