<%= month_calendar do |date| %>
  <%= date.day %>
  <% @events.each do |event| %>
    <% if event.recurrence.occurs_on?(date) %>
      <div>
        <%= link_to event.kind, edit_club_event_path(@club, event) %>
      </div>
    <% end %>
  <% end %>
<% end %>
