<%= week_calendar(events: @events) do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
      <%= Event.human_attribute_name("kind.#{event.kind}") %>
    </div>
  <% end %>
<% end %>
