<nav>
  <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: 'btn btn-outline-primary btn-sm' %>
  <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: 'btn btn-outline-primary btn-sm' %>
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view, class: 'btn btn-outline-primary btn-sm' %>
  </div>
</nav>
