<%= turbo_frame_tag "new_payment_#{@member.id}" do %>
  <div class="card">
    <div class="card-body">
      <%= render "form", club: @club, member: @member, payment: @payment %>
    </div>
  </div>
<% end %>
