// 1. Include functions & variables first
@import "bootstrap/functions";
@import "bootstrap/variables";

$custom-colors: (
  "bootstrap": #563d7c,
  "simpleform": #00617f
);
$theme-colors: map-merge($theme-colors, $custom-colors);

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// simple_form helpers
@import "simple_form-bootstrap/simple_form-bootstrap";

@import "simple_calendar";

.dot-ok {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.dot-warning {
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

.dot-error {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.app-flash {
  margin-top: 3.5rem;
}
